<div role='banner' class="Yayul_header
{{#if image}} style="background-image: url({{image}})
{{else if @blog.cover}} style="background-image: url({{@blog.cover}})
{{else}}no-cover{{/if}}">
    <div class="Yayul_header__content">
        {{#if @blog.logo}}
            <a class="Yayul_header__logo" href="{{@blog.url}}">
                <img src="{{@blog.logo}}" alt="{{@blog.title}}" />
            </a>
        {{/if}}

        <h1 class="Yayul_header__title">
            <a title="{{@blog.title}}" href='{{@blog.url}}'>
                {{{@blog.title}}}
            </a>
        </h1>

        <p class="Yayul_header__description">
            <a title="{{@blog.title}}" href='{{@blog.url}}'>
                {{@blog.description}}
            </a>
        </p>
    </div>

    <a href="#content">
      <i class="fa fa-angle-down Yayul_icon Yayul_header__arrow"></i>
    </a>
</div>
