{{!< default}}
{{> header}}


<main class="Yayul_main" role="main" id="content">
    {{#post}}
        <article class="Yayul_post" role="article" itemscope itemtype="http://schema.org/Article">
            <header class="Yayu_post__header">
                <time class="Yayul_post__date" datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">
                  {{date format='dddd DD MMM YYYY'}}
                </time>

                <h1 class="Yayul_post__title" itemprop="headline">{{title}}</h1>


                {{#if tags}}
                  <div class="Yayul_post__tags">
                    {{#foreach tags }}
                      <a href="{{url}}" title="{{name}}">#{{name}}</a>
                      {{#unless @last}}, {{/unless}}
                    {{/foreach}}
                  </div>
                {{/if}}
            </header>

            <div class="Yayul_post__content" itemprop="articleBody">
                {{content}}
            </div>


            <footer class="Yayul_post__footer">
                {{#author}}
                    <div class="Yayul_author">
                        {{#if image}}
                            <figure class="Yayul_author__imageContainer">
                                <a class="Yayul_author__image" href="{{url}}" style="background-image: url({{image}})">
                                    <span class="Yayul_hidden">
                                        {{name}}'s Picture
                                    </span>
                                </a>
                            </figure>
                        {{/if}}

                        <address itemscope itemtype="http://schema.org/Person">

                            <h4 class="Yayul_author__name">
                              <a href="{{url}}" itemprop="author">{{name}}</span>
                            </h4>


                            {{#if website}}
                                <div class="Yayul_author__website">
                                  <a href="{{author.website}}" itemprop="url">{{website}}</a>
                                </div>
                            {{/if}}
                        </address>

                        <div class="Yayul_author__bio">
                            <p>{{bio}}</p>
                        </div>

                        {{#if location}}
                            <div class="Yayul_author__location">
                              <i class="fa fa-map-marker Yayul_author__icon"></i>
                               <span>{{location}}</span>
                            </div>
                        {{/if}}
                    </div>
                {{/author}}

                <div class="Yayul_post__footer__share">
                    <h4 class="Yayul_post__footer__shareText">Share this post: &nbsp;</h4>
                    <div class="Yayul_post__footer__shareLinks">
                        <a class="fa fa-twitter Yayul_post__footer__shareLink" target="_blank" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}">
                            <span class="Yayul_hidden">Twitter</span>
                        </a>
                        <a class="fa fa-facebook-square Yayul_post__footer__shareLink" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}">
                            <span class="Yayul_hidden">Facebook</span>
                        </a>
                        <a class="fa fa-google-plus-square Yayul_post__footer__shareLink" target="_blank" href="https://plus.google.com/share?url={{url absolute="true"}}">
                            <span class="Yayul_hidden">Google+</span>
                        </a>
                    </div>
                </div>
            </footer>
        </article>
    {{/post}}


    {{#if pagination}}
        <div class="Yayul__pagination">
            {{{pagination}}}
        </div>
    {{/if}}

    <div id="disqus_thread"></div>
</main>


{{> footer}}

<script>
  var disqus_config = function () {
    this.page.url = "{{url absolute="true"}}"; // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = "{{post.id}}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };
  (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');

      s.src = '//datyayu.disqus.com/embed.js';

      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
  })();
</script>
<script id="dsq-count-scr" src="//datyayu.disqus.com/count.js" async></script>
