<div role='banner' class="Yayul_header Yayul_header--post
{{#if post.image}}
  " style="background-image: url({{post.image}})
{{else}}{{#if author.cover}}
  " style="background-image: url({{author.cover}})
{{else}}{{#if @blog.cover}}
  " style="background-image: url({{@blog.cover}})
{{else}}
  no-cover
{{/if}}{{/if}}{{/if}}">
    <div class="Yayul_header__content">
        {{#if @blog.logo}}
            <figure class="Yayul_header__logo" href="/">
              {{#if author.image}}
                <img src="{{author.image}}" alt="{{author.name}}" />
              {{else}}
                <img src="{{@blog.logo}}" alt="{{@blog.title}}" />
              {{/if}}
            </figure>
        {{/if}}

        <h1 class="Yayul_header__title">
          {{#if author.name}}
            <a title="{{author.name}}" href='{{author.url}}'> {{{author.name}}} </a>
          {{else}}
              <a title="{{@blog.title}}" href="/"> {{{@blog.title}}} </a>
          {{/if}}
        </h1>

        <p class="Yayul_header__description">
          {{#if author }}
              <a title="{{author.website}}" href='{{author.website}}'> {{author.website}} </a>
          {{ else }}
              <a title="{{@blog.title}}" href="/"> {{@blog.description}} </a>
          {{/if}}
        </p>

        <nav class="Yayul_header__navigation">
          <ul class="Yayul_header__links">
            <li class="Yayul_header__item">
              <a class="Yayul_header__link" href="/">Home</a>
            </li>
            <li class="Yayul_header__item">
              <a class="Yayul_header__link" href="/about">About</a>
            </li>
          </ul>
        </nav>
    </div>
</div>
